.headersection{background:#0FA758 none repeat scroll 0 0;}
.icon a {background: #AE9BD0 none repeat scroll 0 0;}
.searchbtn input[type="text"] {background: #AE9BAC;}
.navsection {background: none repeat scroll 0 0 #AE9C7B;}
.samepost h2 a {color: green;}
.maincontent,.sidebar {background: #C9FFC9 none repeat scroll 0 0;}
.contentsection {border: 1px solid #C9FFC9;}
.samepost img {border: 1px solid #C9FFC9;}
.samesidebar h2 {background: #008050 none repeat scroll 0 0;color: #ddd;border-bottom: 2px solid #C9FFFF;}
.footermenu ul li a {color: pink;}
.relatedpost h2 {background: #008050 none repeat scroll 0 0;border-bottom: 2px solid #008050 !important;}